<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

  <?define TargetFramework48Redist=Depends\dotnet48-x86-x64-allos-enu.exe?>
  <?define TargetFramework48Web=https://dotnet.microsoft.com/en-us/download/dotnet-framework/net48?>
  <?define Dia=..\?>


  <Bundle Name="!(bind.packageName.CookPopularInstaller)" Version="!(bind.packageVersion.CookPopularInstaller)" Manufacturer="!(bind.packageManufacturer.CookPopularInstaller)"
          HelpTelephone="!(loc.HelpTelephone)" HelpUrl="!(loc.HelpUrl)" UpdateUrl="!(loc.UpdateUrl)" AboutUrl="!(loc.AboutUrl)"
          Compressed="yes" IconSourceFile="!(loc.IconSourceFile)"
          Copyright="Copyright © 2018-2023 !(bind.packageManufacturer.CookPopularInstaller). All rights reserved."
          DisableRemove="no" DisableModify="no" DisableRepair="no"
          UpgradeCode="DF17200A-28B5-4A37-9889-E99F09EA2468">

    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full"/>
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf"/>

    <Variable Name="ExeName" Type="string" Value="!(loc.ExeProcessName)"/>
    <Variable Name="CompanyName" Type="string" Value="!(bind.packageManufacturer.CookPopularInstaller)"/>
    <Variable Name="ProductName" Type="string" Value="!(bind.packageName.CookPopularInstaller)"/>
    
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <bal:WixStandardBootstrapperApplication LaunchTarget="[InstallFolder]\[ExeName]" LaunchWorkingFolder="[InstallFolder]" LicenseFile="Assets\Public\License.rtf"/>
      <!--<Payload Name="BootstrapperCore.config" SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)$(var.CookPopularInstaller.CustomUI.TargetFileName).config"/>-->
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularInstaller.CustomUI.exe.config"/>
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetPath)" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularControl.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularCSharpToolkit.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)DryIoc.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)ICSharpCode.SharpZipLib.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)log4net.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Microsoft.Win32.Registry.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Microsoft.Xaml.Behaviors.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularInstaller.Toolkit.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Newtonsoft.Json.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Ookii.Dialogs.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.DryIoc.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)QRCoder.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)SplashScreen.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.Configuration.ConfigurationManager.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.IO.FileSystem.AccessControl.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.Security.AccessControl.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.Security.Permissions.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.Security.Principal.Windows.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.ValueTuple.dll" />
    </BootstrapperApplicationRef>

    <Chain DisableRollback="yes">
      <MsiPackage Id="CookPopularInstaller" SourceFile="$(var.CookPopularInstaller.Msi.TargetPath)"
                  Vital="yes" Compressed="yes" 
                  DisplayInternalUI="no" Permanent="no" Visible="no" ForcePerMachine="yes" InstallCondition="VersionNT64">
        <MsiProperty Name="InstallFolder" Value="[InstallFolder]"/>
      </MsiPackage>
    </Chain>
  </Bundle>

</Wix>
