<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

  <?define TargetFramework48Redist=..\Assets\Dotnet\dotnet48-x86-x64-allos-enu.exe?>
  <?define TargetFramework48Web=https://dotnet.microsoft.com/en-us/download/dotnet-framework/net48?>
  <?define Dia=..\?>

  <Bundle Name="!(bind.packageName.CookPopularInstaller)" Version="!(bind.packageVersion.CookPopularInstaller)" Manufacturer="!(bind.packageManufacturer.CookPopularInstaller)"
          HelpTelephone="!(loc.HelpTelephone)" HelpUrl="!(loc.HelpUrl)" UpdateUrl="!(loc.UpdateUrl)" AboutUrl="!(loc.AboutUrl)"
          Compressed="yes" IconSourceFile="..\Assets\Images\CookPopularInstaller.Generate.ico"
          Copyright="Copyright © 2018-2023 !(bind.packageManufacturer.CookPopularInstaller). All rights reserved."
          DisableRemove="no" DisableModify="no" DisableRepair="no"
          UpgradeCode="DF17200A-28B5-4A37-9889-E99F09EA2468">

    <bal:Condition Message="!(loc.WindowsVersionMessage)">
      <![CDATA[VersionNT64 >= v6.3]]>
    </bal:Condition>

    <!--检测CookPopularInstaller是否安装-->
    <!--<util:RegistrySearchRef Id="InstallerSearch"/>-->
    <!--<util:RegistrySearchRef Id="NetFrameworkVersionSearch"/>
    <util:RegistrySearchRef Id="NetFramework48Search"/>-->

    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full"/>
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf"/>

    <Variable Name="ExeName" Type="string" Value="!(loc.ExeProcessName)"/>
    <Variable Name="CompanyName" Type="string" Value="!(bind.packageManufacturer.CookPopularInstaller)"/>
    <Variable Name="ProductName" Type="string" Value="!(bind.packageName.CookPopularInstaller)"/>
    <!--<Variable Name="InstallFolder" Type="string" Value="[ProgramFilesFolder]!(bind.packageManufacturer.CookPopularInstaller)\!(bind.packageName.CookPopularInstaller)\"/>-->

    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <bal:WixStandardBootstrapperApplication LaunchTarget="[InstallFolder]\[ExeName]" LaunchWorkingFolder="[InstallFolder]" LicenseFile="..\Assets\License.rtf"/>
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)$(var.CookPopularInstaller.CustomUI.TargetFileName).config"/>
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetPath)" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularControl.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularCSharpToolkit.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)DryIoc.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)ICSharpCode.SharpZipLib.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)log4net.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Microsoft.Xaml.Behaviors.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)CookPopularInstaller.Toolkit.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Newtonsoft.Json.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Ookii.Dialogs.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.DryIoc.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)Prism.Wpf.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)QRCoder.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)SplashScreen.dll" />
      <Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.ValueTuple.dll" />
      <!--<Payload SourceFile="$(var.CookPopularInstaller.CustomUI.TargetDir)System.ComponentModel.Composition.dll" />-->
    </BootstrapperApplicationRef>

    <!--<PayloadGroup Id="NetFx48Redist">
      <Payload Name="Net48Redist" Compressed="yes"
               SourceFile="$(var.TargetFramework48Redist)"/>
    </PayloadGroup>-->

    <!--InstallCondition="VersionNT64 AND NetFramework48Info &lt; v4.8"-->
    <!--DetectCondition="VersionNT64 AND NetFramework48Info >= v4.8"-->
    <Chain DisableRollback="yes">
      <!--<ExePackage Id="Netfx48Full" Description=".NetFramewrok4.8运行时"
                  Cache="yes" Compressed="yes" PerMachine="yes"
                  Permanent="yes" Vital="yes" SourceFile="$(var.TargetFramework48Redist)"
                  InstallCommand="/q /ACTION=Install /norestart" 
                  DetectCondition="VersionNT64 AND NetFramework48Info &gt; v4.8"
                  InstallCondition="VersionNT64 AND NetFramework48Info &lt; v4.8"/>-->
      <!--<PackageGroupRef Id="NetFx48Redist" After="Netfx48Full"/>-->
      <MsiPackage Id="CookPopularInstaller" SourceFile="$(var.CookPopularInstaller.Msi.TargetPath)"
                  Vital="yes" Compressed="yes"
                  DisplayInternalUI="no" Permanent="no" Visible="no" ForcePerMachine="yes" InstallCondition="VersionNT64">
        <MsiProperty Name="InstallFolder" Value="[InstallFolder]"/>
      </MsiPackage>
    </Chain>
  </Bundle>

  <Fragment>
    <!--<CustomAction Id="CreateInstallFolderAction" BinaryKey="dll" DllEntry="" Execute="immediate" Return="check" />
    <Binary Id="dll" SourceFile="foo.dll"/>-->
  </Fragment>

  <Fragment>
    <!--<util:RegistrySearch Id="InstallerSearch"
                         Root="HKLM"
                         Key="Software\CookCSharp\CookPopularInstaller"
                         Result="value"
                         Variable="InstallerInfo"
                         Value="Path"/>
    <bal:Condition Message="CookPopularInstaller is not installed">InstallerInfo</bal:Condition>-->

    <util:RegistrySearch Id="NetFrameworkVersionSearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4"
                         Result="exists"
                         Variable="NetFrameworkVersionInfo"/>
    <!--<bal:Condition Message=".NetFramework4.8 is not installed">
      <![CDATA[Installed OR NetFrameworkVersionInfo]]>
    </bal:Condition>-->
    <util:RegistrySearch Id="NetFramework48Search"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
                         Result="value"
                         Variable="NetFramework48Info"
                         Value="Version"
                         After="NetFrameworkVersionSearch"/>
    <!--<bal:Condition Message=".NetFramework4.8 is not installed">
      <![CDATA[Installed OR NetFramework48Info >= "4.8"]]>
    </bal:Condition>-->
  </Fragment>

</Wix>
