<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:loc="http://schemas.microsoft.com/wix/2006/localization"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?define UpgradeCode={374D7045-39C4-4922-B747-BE1493D414F6}?>

  <!--属性值-->
  <!--[WixBundleProviderKey] [WixBundleInstalled]-->

  <Bundle Name="!(bind.packageName.CookPopularInstaller)" Version="!(bind.packageVersion.CookPopularInstaller)" Manufacturer="!(bind.packageManufacturer.CookPopularInstaller)"
          HelpTelephone="!(loc.HelpTelephone)" HelpUrl="!(loc.HelpUrl)" UpdateUrl="!(loc.UpdateUrl)" AboutUrl="!(loc.AboutUrl)"
          Compressed="yes" IconSourceFile="..\Assets\Images\CookPopularInstaller.Generate.ico" SplashScreenSourceFile="Resources\SplashScreen.png"
          Copyright="Copyright © 2021 !(bind.packageManufacturer.CookPopularInstaller). All rights reserved."
		  DisableRemove="no" DisableModify="no" DisableRepair="no"
          UpgradeCode="$(var.UpgradeCode)">

    <bal:Condition Message="!(loc.WindowsVersionMessage)">
      <![CDATA[VersionNT64 >= v6.3]]>
    </bal:Condition>

    <!--<Update Location="[WixBundleOriginalSource]" />-->
    <!--<util:RegistrySearchRef Id="ToolsManagementSearch"/>-->
    <!--检测ONES是否安装-->
    <!--<util:RegistrySearchRef Id="OnesSearch"/>-->
    <!--<Variable Name="InstallFolder" Type="string" Value="[ONESInfo]ToolsManagement\"/>-->

    <!--查找安装包缓存位置-->
    <!--<util:ProductSearchRef Id="ProductSearch"/>
    <util:RegistrySearchRef Id="ProductCodeSearch"/>
    <util:RegistrySearchRef Id="WixBundleProviderKeySearch"/>
    <util:RegistrySearchRef Id="PackageCachePathSearch"/>-->

    <Variable Name="ExeName" Type="string" Value="!(loc.ExeProcessName)" Persisted="no" bal:Overridable="yes"/>
    <!--ProgramFiles6432Folder-->
    <Variable Name="InstallFolder" Type="string"
              Value="[ProgramFilesFolder]!(bind.packageManufacturer.CookPopularInstaller)\!(bind.packageName.CookPopularInstaller)\"
              Persisted="no" bal:Overridable="yes"/>
    <Variable Name="CancelRequest" Type="string" Value="yes" />

    <!--C:\Windows\System32\-->
    <!--<Variable Name="MsiExec" Type="string" Value="[System64Folder]msiexec.exe"/>-->

    <!--<PayloadGroup Id="PackagePathGroup">
      <Payload Name="AppPackageCache" SourceFile="PackageCachePath" />
    </PayloadGroup>-->

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <!--<PayloadGroupRef Id="PackagePathGroup"/>-->
      <bal:WixStandardBootstrapperApplication LaunchTarget="[InstallFolder]\[ExeName]"
                                              LaunchWorkingFolder="[InstallFolder]"
                                              LaunchHidden="yes"
                                              SuppressRepair="no" SuppressOptionsUI="no" ShowVersion="yes"
                                              LogoFile="..\Assets\Images\CookPopularInstaller.Generate.png"
                                              LogoSideFile="..\Assets\Images\CookPopularInstaller.Generate.png"
                                              LicenseFile="..\Assets\License.rtf" />
    </BootstrapperApplicationRef>

    <Chain DisableRollback="no">
      <!--<ExePackage Id="UninstallApp" SourceFile="C:\Windows\System32\msiexec.exe" Cache="no"
                  InstallCommand="/x [PreviousProductCode]" InstallCondition="ProductState=5"/>-->
      <!--<ExePackage Id="UninstallApp" SourceFile="$(var.PackageCachePath)" InstallCommand="/quiet /uninstall" InstallCondition="ProductState=5" Vital="yes"/>-->
      <MsiPackage Id="CookPopularInstaller" Vital="yes" Compressed="yes" SourceFile="$(var.CookPopularInstaller.Msi.TargetPath)"
                  DisplayInternalUI="no" Permanent="no" Cache="yes" Visible="no" ForcePerMachine="yes" InstallCondition="VersionNT64">
        <MsiProperty Name="PRODUCTSTATE" Value="[ProductState]"/>
        <MsiProperty Name="WIXBUNDLEPROVIDERKEY" Value="[WixBundleProviderKey]"/>
        <MsiProperty Name="PREVIOUSWIXBUNDLEPROVIDERKEY" Value="[PreviousWixBundleProviderKey]"/>
        <MsiProperty Name="PACKAGECACHEPATH" Value="[PackageCachePath]"/>
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="CancelRequest" Value="[CancelRequest]"/>
        <!--<MsiProperty Name="WIXBUNDLEORIGINALSOURCE" Value="[WixBundleOriginalSource]"/>-->
      </MsiPackage>
    </Chain>
  </Bundle>

  <Fragment>
    <!--<util:RegistrySearch Id="ToolsManagementSearch"
                         Root="HKLM"
                         Key="Software\CookCSharp\CookPopularInstaller"
                         Result="exists"
                         Variable="ToolsManagementInfo"/>
    <bal:Condition Message="ToolsManagement is installed, Please uninstall it manually">
      <![CDATA[Installed OR ToolsManagementInfo]]>
    </bal:Condition>-->
    <!--<util:RegistrySearch Id="OnesSearch"
                         Root="HKLM"
                         Key="Software\CookCSharp\CookPopularInstaller"
                         Result="value"
                         Variable="ONESInfo"
                         Value="Path"/>
    <bal:Condition Message="ONES is not installed">ONESInfo</bal:Condition>-->

    <util:ProductSearch Id="ProductSearch" UpgradeCode="$(var.UpgradeCode)" Result="state" Variable="ProductState"/>
    <util:RegistrySearch Id="ProductCodeSearch"
                         After="ProductSearch"
                         Condition="ProductState=5"
                         Root="HKLM"
                         Key="Software\CookCSharp\CookPopularInstaller.Generate"
                         Result="value"
                         Value="ProductCode"
                         Variable="PreviousProductCode"/>
    <util:RegistrySearch Id="WixBundleProviderKeySearch"
                         After="ProductSearch"
                         Condition="ProductState=5"
                         Root="HKLM"
                         Key="Software\CookCSharp\CookPopularInstaller.Generate"
                         Result="value"
                         Value="WixBundleProviderKey"
                         Variable="PreviousWixBundleProviderKey"/>
    <util:RegistrySearch Id="PackageCachePathSearch"
                         After="WixBundleProviderKeySearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[PreviousWixBundleProviderKey]"
                         Result="value"
                         Value="BundleCachePath"
                         Variable="PackageCachePath"/>
  </Fragment>

</Wix>
