<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <appSettings>
    <!--<add key="CompanyName" value="NCATest" />-->
    <add key="ProductName" value="NCATestInstaller.Generate" />
    <!--<add key="ProductName" value="ATEStudio" />-->
    <!--<add key="ProductName" value="ONES" />-->
    <add key="UpgradeCode" value="{374D7045-39C4-4922-B747-BE1493D414F6}" />
    <!--<add key="UpgradeCode" value="{65A1DDBF-92FA-403B-9BC2-2B9869BE49A1}" />-->
  </appSettings>
</configuration>