<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	 xmlns:loc="http://schemas.microsoft.com/wix/2006/localization"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?define DependencyLibrariesDir=$(var.SolutionDir)Output\Publish\ ?>
  <?define ExeProcessName=CookCSharp.ToolsManagement.exe ?>
  <?define AppVersion=0.0.0.0 ?>

  <Product Id="*" UpgradeCode="02BF701B-9797-492F-954E-160D4AA9AF34"
           Language="1033" Codepage="950"
           Name="!(loc.ProductName)" Version="$(var.AppVersion)" Manufacturer="!(loc.Manufacturer)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
             Description="!(loc.Description)" Comments="!(loc.Comments)" Keywords="!(loc.ProductName)"
             Platform="x86" InstallPrivileges="elevated" AdminImage="yes"/>

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="App.ico" SourceFile="!(loc.AppIcon)" />
    <Property Id="ARPPRODUCTICON" Value="App.ico" />
    <Icon Id="Uninstall.ico" SourceFile="Assets\Public\Uninstall.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="Assets\Msi\Images\top_banner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\Msi\Images\dialog_background.png" />
    <WixVariable Id="WixUILicenseRtf" Value="Assets\Public\License.rtf" />

    <Binary Id="CSharpCustomActions" SourceFile="$(var.CookPopularInstaller.CSharpCustomAction.TargetDir)$(var.CookPopularInstaller.CSharpCustomAction.TargetName).CA.dll"/>
    <CustomAction Id="SetInstallMessage" BinaryKey="CSharpCustomActions" Execute="immediate" DllEntry="SetInstallMessage" Return="check" Impersonate="yes"/>
    <CustomAction Id="DecompressCustomAction" BinaryKey="CSharpCustomActions" Execute="immediate" DllEntry="DecompressCustomAction" Return="check" Impersonate="yes"/>
    <CustomAction Id="CSharpCustomActionDataCheck" Property="DecompressCustomAction" Value="INSTALLFOLDER=[INSTALLFOLDER]" Return="check" Impersonate="yes"/>
    <InstallExecuteSequence>
      <Custom Action="SetInstallMessage" After="InstallInitialize">
        Not Installed AND NOT WIX_UPGRADE_DETECTED
      </Custom>
      <Custom Action="CSharpCustomActionDataCheck" Before="InstallInitialize"/>
      <Custom Action="DecompressCustomAction" After="InstallFinalize">
        Not Installed AND NOT WIX_UPGRADE_DETECTED
      </Custom>
    </InstallExecuteSequence>

    <!--6种默认安装对话框-->
    <UI>
      <!--<UIRef Id="WixUI_Common" />-->
      <!--<UIRef Id="WixUI_Minimal"/>-->
      <UIRef Id="WixUI_InstallDir" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <!--<UIRef Id="WixUI_FeatureTree" />-->
      <!--<UIRef Id="WixUI_Mondo" />-->
      <!--<UIRef Id="WixUI_Advanced" />
	  <Property Id="ApplicationFolderName" Value="My Application Folder" />
	  <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
	  <WixVariable Id="WixUISupportPerMachine" Value="1" />-->
      <!--<Property Id="WixAppFolder" Value="WixPerUserFolder" />
	  <WixVariable Id="WixUISupportPerUser" Value="0" />-->

      <Property Id="INSTALLDEPENDSMESSAGE" Value="正在安装依赖环境" Secure="yes" />
      <ProgressText Action="DecompressCustomAction">[INSTALLDEPENDSMESSAGE]</ProgressText>

      <!--触发启动App-->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>

      <DialogRef Id="FilesInUse"/>
      <DialogRef Id="MsiRMFilesInUse"/>
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch !(loc.ProductName)" />

    <!--将App启动包含在Finish页面中-->
    <Property Id="WixShellExecTarget" Value="[#App.exe]"/>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">
      <ComponentGroupRef Id="DependencyLibrariesGroup" />
      <ComponentGroupRef Id="EnvironmentComponents" />
      <ComponentGroupRef Id="RegistryComponents" />
      <ComponentRef Id="ApplicationDesktopComponent"/>
      <ComponentRef Id="ApplicationStartMenuComponent" />
      <ComponentRef Id="ApplicationStartMenuUninstallComponent" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="Company" Name="!(loc.CompanyName)">
          <Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)"/>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppStartMenuFolder" Name="!(loc.ProductName)"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--Environment-->
    <ComponentGroup Id="EnvironmentComponents" Directory="INSTALLFOLDER">
      <!--<Component Id="RegistryTest" Guid="9717E750-F364-4D3F-90D6-89BF7676E381" KeyPath="yes">
        <Environment Id="gg" Name="PATH" Action="set" Permanent="yes" System="yes" Part="last" Value="dd"/>
      </Component>-->
    </ComponentGroup>

    <!--Registry-->
    <ComponentGroup Id="RegistryComponents" Directory="INSTALLFOLDER">
      <!--<Component Id="RegistryTest" Guid="49EBED08-DCF2-45E8-AE29-17FAE00E5ABD">
        <RegistryKey Root="HKLM" Key="Software\!(loc.CompanyName)\!(loc.ProductName)" Action="none" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes"/>
        <RegistryValue Root="HKLM" Key="Software\!(loc.CompanyName)\!(loc.ProductName)" Action="append" Name="InstallDir" Type="expandable" Value="[INSTALLFOLDER]" KeyPath="yes"/>
        <RegistryValue Id="RegistryDirectoryValue" Action="append"
               Root="HKLM" Key="Software\!(loc.CompanyName)\!(loc.ProductName)"
               Name="Directory" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes"/>
      </Component>-->
    </ComponentGroup>

    <!--Shortcut on Desktop-->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationDesktopComponent">
        <Shortcut Id="ApplicationDesktopShortcut" Name="!(loc.ProductName)"
                  Target="[#App.exe]" Icon="App.ico" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder"/>
        <RemoveFolder Id="CleanUpDesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\!(loc.CompanyName)\!(loc.ProductName)"
                       Name="DesktopShortcutInstalled" Value="1" Type="integer" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!--Shortcut in StartMenu-->
    <DirectoryRef Id="AppStartMenuFolder">
      <Component Id="ApplicationStartMenuComponent" Guid="94024279-3EDD-40E7-AD19-541022C8EBE6">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="!(loc.ProductName)" Description="!(loc.ProductName)"
                  Target="[#App.exe]" Icon="App.ico" WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpStartMenuShortCut1" Directory="AppStartMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\!(loc.CompanyName)\!(loc.ProductName)"
                       Name="StartMenuShortcutInstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
      <Component Id="ApplicationStartMenuUninstallComponent" Guid="9C9FAAFC-9449-42D2-9285-F2EB34256883">
        <Shortcut Id="ApplicationStartMenuUninstallShortcut" Name="Uninstall !(loc.ProductName)" Description="Uninstall !(loc.ProductName)"
                  Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Icon="Uninstall.ico"/>
        <RemoveFolder Id="CleanUpStartMenuShortCut2" Directory="AppStartMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\!(loc.CompanyName)\!(loc.ProductName)"
                       Name="StartMenuShortcutUninstalled" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>