<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:loc="http://schemas.microsoft.com/wix/2006/localization"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"    
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" >

  <?define UpgradeCode={02BF701B-9797-492F-954E-160D4AA9AF34} ?>
  <?define PackageVersion=1.0.0.1?>

  <Bundle Name="!(bind.packageName.NCATestInstaller)" Version="!(bind.packageVersion.NCATestInstaller)" Manufacturer="!(bind.packageManufacturer.NCATestInstaller)"
          HelpTelephone="!(loc.HelpTelephone)" HelpUrl="!(loc.HelpUrl)" UpdateUrl="!(loc.UpdateUrl)" AboutUrl="!(loc.AboutUrl)"
          Compressed="yes" IconSourceFile="!(loc.IconSourceFile)"
          Copyright="Copyright © 2018-2024 !(bind.packageManufacturer.NCATestInstaller). All rights reserved."
          DisableRemove="no" DisableModify="no" DisableRepair="no"
          UpgradeCode="$(var.UpgradeCode)">
    
    <!--查找安装包缓存位置-->
    <util:ProductSearchRef Id="ProductSearch"/>
    <!--<util:RegistrySearchRef Id="WixBundleProviderKeySearch"/>
    <util:RegistrySearchRef Id="PackageCachePathSearch"/>-->

    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full"/>
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf"/>
    
    <Variable Name="ExeName" Type="string" Value="!(loc.ExeProcessName)" Persisted="no" bal:Overridable="yes"/>
    <Variable Name="CompanyName" Type="string" Value="!(bind.packageManufacturer.NCATestInstaller)" Persisted="no" bal:Overridable="yes"/>
    <Variable Name="ProductName" Type="string" Value="!(bind.packageName.NCATestInstaller)" Persisted="no" bal:Overridable="yes"/>
    <Variable Name="PackageVersion" Type="string" Value="$(var.PackageVersion)" Persisted="no" bal:Overridable="yes"/>
    <Variable Name="UpgradeCode" Type="string" Value="$(var.UpgradeCode)"/>
    
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <bal:WixManagedBootstrapperApplicationHost LicenseFile="Assets\Public\License.rtf" />
      <Payload Name="BootstrapperCore.config" SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)$(var.NCATestInstaller.CustomUI.TargetFileName).config"/>
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetPath)" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)BootstrapperCore.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)CookPopularControl.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)CookPopularCSharpToolkit.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)DryIoc.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)handle.exe" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)log4net.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Microsoft.Win32.Registry.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Microsoft.Xaml.Behaviors.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)NCATestInstaller.Toolkit.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Newtonsoft.Json.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Ookii.Dialogs.Wpf.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Prism.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Prism.DryIoc.Wpf.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)Prism.Wpf.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)QRCoder.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.CodeDom.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.Configuration.ConfigurationManager.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.IO.FileSystem.AccessControl.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.Security.AccessControl.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.Security.Permissions.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.Security.Principal.Windows.dll" />
      <Payload SourceFile="$(var.NCATestInstaller.CustomUI.TargetDir)System.ValueTuple.dll" />
    </BootstrapperApplicationRef>

    <Chain DisableRollback="no">
      <MsiPackage Id="NCATestInstaller" SourceFile="$(var.NCATestInstaller.Msi.TargetPath)" Vital="yes" Compressed="yes" Cache="yes"
                  DisplayInternalUI="no" Permanent="no" Visible="no" ForcePerMachine="yes" InstallCondition="VersionNT64">
        <MsiProperty Name="PRODUCTSTATE" Value="[ProductState]"/>
        <MsiProperty Name="WIXBUNDLEPROVIDERKEY" Value="[WixBundleProviderKey]"/>
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
        <MsiProperty Name="PACKAGEVERSION" Value="[PackageVersion]"/>
        <MsiProperty Name="CANCELREQUEST" Value="[CancelRequest]"/>
      </MsiPackage>    
    </Chain>
  </Bundle>

  <Fragment>
    <!--Saves the state of the product: advertised (1), absent (2), or locally installed (5).-->
    <util:ProductSearch Id="ProductSearch" UpgradeCode="$(var.UpgradeCode)" Result="state" Variable="ProductState"/>
    <util:RegistrySearch Id="WixBundleProviderKeySearch"
                         After="ProductSearch"
                         Condition="ProductState=5"
                         Root="HKLM"
                         Key="Software\!(loc.CompanyName)\!(loc.ProductName)"
                         Result="value"
                         Value="WixBundleProviderKey"
                         Variable="PreviousWixBundleProviderKey"/>
    <util:RegistrySearch Id="PackageCachePathSearch"
                         After="WixBundleProviderKeySearch"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\[PreviousWixBundleProviderKey]"
                         Result="value"
                         Value="BundleCachePath"
                         Variable="PackageCachePath"/>
  </Fragment>

</Wix>
